.editable {
    cursor: pointer;
    display: inline-block !important;
    position: relative;

    &:hover:before {
        content: " ";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        z-index: -1;
    }

    &:not(:hover):after {
        content: "\f14b";
        right: -15px;
        font-size: 30px;
        top: -10px;
        font-family: FontAwesome;
        font-size: 16px;
        position: absolute;
    }
}

.component {
    border: 1px dashed rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 5px 0;
    min-height: 59px;
    padding: 5px;
    position: relative;
    width: 100%;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
        border: 1px dashed rgba(0, 0, 0, 0.6);

        .toolbar {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    & .toolbar {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0.2em;
        padding: 0 0 0 13px;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    &.image {
        text-align: center;

        .placeholder {
            padding: 20px 5px;
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    &.counter {
        text-align: center;
    }

    &.picker {
        text-align: center;
    }

    &.list {
        .listItem {
            margin-left: 10px;
        }
    }

    &.random {
        .chip {
            background-color: rgb(220, 220, 220);
            border-radius: 0.5em;
            padding: 0.5em;
        }
    }
}

.page-action {
    position: fixed !important;
    bottom: 5vh;
    right: 3vw;
}
