@import 'normalize';
@import 'flexboxgrid';
@import './animations';
@import './admin-editor';
@import './loading';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 44px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

footer {
  position: absolute;
  height: 44px;
  bottom: 0;
  right: 30px;
  padding: 0 30px;
}

label {
  display: block;
  line-height: 1.8;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px;
}

form button[type="submit"] {
  margin-top: 1em;
}

.list-inline {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.text-success {
  color: #29b35b;
  font-weight: bold;
}

.text-error {
  color: #df4a32;
  font-weight: bold;
}

.text-info {
  color: #31708f;
  font-weight: bold;
}

.avatar {
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.auth-text-field {
  width: 100%;
}

input[autocomplete]:after {
  background-color: rgba(100, 100, 100, 0.1) !important;
}

.view-component {
  &.counter {
    text-align: center;
    padding: 10px;
  }

  &.image {
    text-align: center;
    width: 100%;
    img {
      height: auto;
      max-width: 100%;
    }
  }

  &.picker {
    margin-left: 20%;
    min-width: 500px;
    width: 60%;
    canvas {
        margin-left: 50%;
        transform: translateX(-50%);
    }
  }

  &.random {
    text-align: center;

    button {
      margin-top: 5px;
    }
  }
}
